@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #0083be;
$success: #06d6a0;
$info: #4fb4e4;
$warning: #ffd166;
$danger: #ef476f;

.footer-column {
  padding-top: 1rem;
}

.footer-column-item:not(:first-child) {
  padding-top: 1rem;
}

@import "../../node_modules/bulma/bulma.sass";
